.playlistName {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 100%;
  font-size: 1.65em;
  font-weight: bold;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  background: transparent;
  text-align: center;
  color: #003049;
}
.playlistContainer {
  padding: 0.5rem;
  background-color: hsla(51 55 82);
  border-radius: 20px;
  height: 600px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.playlistItems {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.playlistItems p {
  margin: 0;
}

.playlistItems li {
  width: 90%;
  text-align: left;
  overflow: hidden;
  min-height: calc(1.2em * 3); /* 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.playlistItems button {
  padding: 0.1rem 0.5rem;
}

.playlistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  .playlistItem {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: white;
  width: 50%;
  font-size: 0.75rem;
}

.buttonContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trackButtons {
  display: flex;
  gap: 5px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.bounceArrow {
  display: inline-block; /* needed for transform */
  animation: bounce 1s infinite;
}
