.searchBar {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: hsla(51 55 82);
}

.searchInput {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
