.searchResults {
  padding: 0.5rem;
  background-color: #0c6291;
  border-radius: 20px;
  height: 600px;
  overflow-y: auto;
}

.resultsList {
  list-style: none;
  padding: 0;
}

.resultsList p {
  margin: 0;
}

.resultsList li {
  width: 90%;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.resultsList button {
  padding: 0.1rem 0.5rem;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
