.searchResults {
  padding: 0.5rem;
  background-color: hsla(51 55 82);
  border-radius: 20px;
  height: 600px;
  overflow-y: auto;
}

.resultsList {
  list-style: none;
  padding: 0;
}

.resultsList p {
  margin: 0;
}

.resultsList li {
  width: 90%;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.resultsList button {
  padding: 0.1rem 0.5rem;
}

.track {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  .track {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.trackButtons {
  display: flex;
  gap: 5px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.bounceArrow {
  display: inline-block; /* needed for transform */
  animation: bounce 1s infinite;
}
