#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
}
