#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#search-playlist-results {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
}

h1 {
  background-color: #003049;
  border-radius: 15px;
  width: 80%;
  color: white;
  padding: 15px;
}
